<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="pic/style.css" />
<link rel="icon" href="pic/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="pic/favicon.ico" type="image/x-icon" />
<title><?=$test_title?></title>
</head>
<body>
<div id="header">
   <div id="orderBg">
      <div id="orderInfo">≡<?=$test_title?>≡</div>
   </div>
   <img src="pic/banner.jpg">
</div>

<div id="head">
   <div id="orderBg">
       <div id="orderInfo"></div>
   </div>
</div>
